.footer__container {
  position: sticky;
  bottom:0;
  width: 100%;
  height: 10%;
  font-weight: bold;
  background-color:rgba(243, 241, 241, 0.4); 
  color: darkslategray;
  text-align: center;
  padding-top:1%;
  padding-bottom:1%
}
