.return {
  background-color: rgba(250, 237, 237, 0.4);
  padding: 0.5rem;
  border-radius: 2%;
}

.return>p{
  margin-bottom: 0.3rem;
}

.passanger-list {
  margin-top: 0.5rem;
}

.total-price {
  background-color: rgba(250, 237, 237, 0.4);
  margin-top: 0.1rem;
  font-size: 18px;
  text-align: center;
}

.bookingInfo{
  margin-top:10%;
  margin-bottom:3%;
}
