* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }

  .search{
    background-color:rgba(243, 241, 241, 0.4);
    margin: 8% auto 20%;
    padding: 5px 10px;
    max-width: 1000px
  }

  .outbound{
    margin-top:2%;
    margin-bottom:5%;
  }

  .return{
    margin-top:2%;
    margin-bottom:5%;
  }
  
  body {
    background-image: url("../../images/background.png");   
  }
  
  .box {
    border: 2px solid rgb(147, 146, 146);
    padding: 10px 20px
  }
  
  .inputbox {
    border: none;
    outline: none
  }

  .h-blue-title {
    color: blue;
    margin-bottom: 4px;
    padding-left: 4px;
    font-size: 22px;
  }
  
  .h-blue-text {
    color: black;
    margin-bottom: 4px;
    padding-left: 4px;
    font-size: 22px;
  }

  .h-blue {
    color: brown;
    margin-bottom: 5px;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 500
  }
  
  ::placeholder {
    font-size: 16px;
    color: rgb(208, 208, 208)
  }
  
  .textmuted {
    color: #ddd
  }
  
  .radio {
    display: inline-block;
    margin-left: 13px;
    cursor: pointer;
    font-weight: 500
  }
  
  .btn.radio-btn {
    position: relative
  }
  
  .radio input[type="radio"] {
    display: none
  }
  
  .radio span {
    height: 20px;
    width: 20px;
    border: 1px solid brown;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 8px;
    left: 0
  }
  
  .radio span::after {
    content: "";
    height: 10px;
    width: 10px;
    background-color: brown;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s
  }
  
  .radio input[type="radio"]:checked~span::after {
    transform: translate(-50%, -50%) scale(1)
  }
  
  .btn.btn-primary {
    height: 60px;
    font-size: 20px;
    padding: 10px
  }

  .Card-Flight{
    margin-bottom:1%;
  }

  @media (max-width:820px) {
    body {
        padding: 20px
    }
  }